body, html {
  width: 100%;
  height: 100%;
  background-color: #22272e;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  display: inline-block;
}

.clock-display {
  display: flex;
}

.unit {
  display: flex;
  margin: 0 2vw;
}

.number {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.number div {
  width: 12vmin;
  height: 12vmin;
  border-radius: 50%;
  margin: 1vmin;
  background-color: #525252;
}

.number div.on {
  background-color: #48d8b8;
}